.home-section {
  height: 100%;
}

.about-section {
  height: 100vh;
  width: 100vw;
  background-color: tomato;
}

ul {
  list-style-type: none;
}

/* Animation */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
/* Navbar */

nav a.brand-logo img {
  width: 50px;
}
nav a.brand-logo {
  color: #bf5e3b;
  display: flex;
  font-family: cursive;
  padding-left: 20px;
}
nav ul.hide-on-med-and-down {
  display: flex;
  justify-content: center;
}
nav ul li a {
  color: black;
}
/* nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
} */

.nav-wrapper {
  background-color: #ffffff;
}
