.home-section {
  height: 100%;
}

.about-section {
  height: 100vh;
  width: 99vw;
  background-color: tomato;
}

.Contact {
  background-image: url("./components/layout/images/joshua-rawson-harris-YNaSz-E7Qss-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 99vw;
  background-color: green;
}

/* Animation */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
