.home-section {
  height: 91vh;
  width: 99vw;
}
.about-section {
  height: 100vh;
  width: 99vw;
  background-color: tomato;
}
.contact-section {
  height: 100vh;
  width: 99vw;
  background-color: green;
}

/* Animation */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
