.user_info .card {
  width: 330px;
  text-align: center;
  height: 100%;
}

.user_info {
  display: flex;
  justify-content: center;
}

.user_info .card .card-img img {
  text-align: center;
  height: 10px;
}

.user_info .card ul li {
  padding: 5px;
}

h3.business-card {
  text-align: center;
}

.userform {
  padding: 0 200px;
}
