.form.register {
  background-color: #3dd1f2;
  margin: 10vh 20vw;
  border-radius: 20px;
  height: 115vh;
  padding: 0px 10px;
}

label.register {
  font-weight: bolder;
  color: white;
}

h1.register {
  text-align: center;
}

.form-group {
  text-align: left;
}
